<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('head'); %>
        <link rel="stylesheet" href="/style/editarCadastro.css">
</head>

<body>
    <p class="text-left"><a href="/usuario/<%= logado.id_usuario%>"><button type="button" class="btn btn-outline-light" id="voltar">Voltar</button></a></p>
    <div class="container" id="container">
        <div class="bloco">
            <h5><p class="text-center" style="color: green;"><%= mensagem %></p></h5>
            <div class="row">
                <div class="col">
                    <form method="POST" action="/editarCadastro/<%= logado.id_usuario %>" enctype="multipart/form-data">
                        <h4>
                            <p class="text-center" style="font-weight: bold;">Editar Informações</p>
                        </h4>
                        <div class="form-group">
                            <label for="Nome">Nome:</label><br>
                            <p class="text-center"><input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome" value = "<%= logado.nome %>" required></p>
                        </div>
            
                        <div class="form-group">
                            <label for="email">E-mail:</label><br>
                            <p class="text-center"><input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" name="email" value = "<%= logado.email %>" required></p>
                        </div>
        
                        <div class="form-group">
                            <label for="foto">Foto de perfil (Opcional):</label><br>
                            <p class="text-center"><input type="file" class="form-control-sm" name="imagem" value="<%= logado.foto_perfil %>"></p>
                        </div><br>
        
                        <p class="text-center"><input class='btn btn-outline-success btn-lg' type="submit" name="submit" value="⠀⠀⠀Confirmar⠀⠀⠀"></p><br>
                    </form>
                </div>
                <div class="col ml-5">
                    <form method="POST" action="/editarCadastro/<%= logado.id_usuario %>" enctype="multipart/form-data">
                        <h4>
                            <p class="text-center" style="font-weight: bold;">Editar senha</p>
                        </h4>
        
                        <div class="form-group">
                            <label for="senha">Senha:</label><br>
                            <p class="text-center"><input type="password" class="form-control" id="senha" placeholder="Digite uma senha" name="senha" value="<%= logado.senha %>"></p>
                        </div><br>
        
                        <p class="text-center"><input class='btn btn-outline-success btn-lg' type="submit" name="submit" value="⠀⠀⠀Confirmar⠀⠀⠀"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>