<!DOCTYPE html>
<html lang="pt-BR">

<head>
<%- include('head'); %>
<link rel="stylesheet" href="style/usuario.css">
</head>
<div class="bloco">
    <%- include('nav'); %>
</div>
<body>
    <div class="container-lg">
        <div class="infos">
            <% if(logado.foto_perfil != null){ %>
                <p align="center"><img src="imagens/<%= logado.foto_perfil %>" class="rounded-circle" alt="perfil" style="width: 200px; height: 200px;"></p>
            <% }else{ %>    
                <p align="center"><img src="img/perfil.jpg" class="rounded-circle" alt="perfil" style="width: 200px; height: 200px;"></p>
            <%}%>
           
            <h3><p align="center">Seja bem vindo, <%= logado.nome %>!</p></h3>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>