<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/style/vagas.css">
    <script src="/script/vagas.js"></script>
</head>
<body>
    <%- include('navvagas'); %>
    <div class="container-lg">
        <div class="row">
            <div class="col-3">
                <div class="filtro">
                    <form method="GET" action="/vagas" enctype="multipart/form-data">
                        <h4>Filtros</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault1" value="todos" checked>
                                <label class="form-check-label" for="flexRadioDefault1">Todos</label><br>
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault2" value="jovem_aprendiz">
                                <label class="form-check-label" for="flexRadioDefault2">Jovem aprendíz</label><br>
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault3" value="estagio">
                                <label class="form-check-label" for="flexRadioDefault3">Estágio</label><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Localização:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="cidade">
                                <option value="todas" selected>Todas</option>
                                <option value="GR">Gravataí - RS</option>
                                <option value="POA">Porto Alegre - RS</option>
                                <option value="CX">Cachoeirinha - RS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Salário:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="salario">
                                <option value="todos" selected>Todos</option>
                                <option value=">1000">até R$ 1.000</option>
                                <option value=">2000">até R$ 2.000</option>
                                <option value=">3000">até R$ 1.000.000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Turno:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="turno">
                                <option value="todos" selected>Todos</option>
                                <option value="manha">Manhã</option>
                                <option value="tarde">Tarde</option>
                                <option value="integral">Integral</option>
                            </select>
                        </div><br>
                        <p align="center"><button type="submit" class="btn btn-outline-light">⠀⠀⠀⠀Filtrar⠀⠀⠀⠀</button></p>
                    </form>
                </div>
            </div>
            <div class="col-4" id="vagas">
                <div class="container">
                    <% vagas.forEach(function(vaga) { %>
                        <div class="card mt-2" style="width: 100%; height: 10rem;" id="card" onclick="selecionar()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <img src="/img/anunciante.jpg" class="rounded-circle" alt="perfil" style="width: 40px; height: 40px; padding-top: 2%;">
                                    </div>
                                    <div class="col"><h3 class="card-title"><%= vaga.titulo %></h3></div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Nome anunciante / <%= vaga.localizacao %></h6>
                                <p class="card-text"><%= vaga.descricao %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="container" id="paginacao">
                    <%- include('paginacao'); %>
                </div>
            </div>
            <div class="col-5">
                <div class="container">
                    <div class="card" id="detalhamento">
                        <div class="card-body">
                            <h1>oi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <%- include('footer'); %>
</body>

</html>