<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/style/vagas.css">
    <script src="/script/vagas.js"></script>
</head>
<body>
    <%- include('navvagas'); %>
    <div class="container-lg">
        <div class="row">
            <div class="col-3">
                <div class="filtro">
                    <form method="GET" action="/vagas" enctype="multipart/form-data">
                        <h4>Filtros</h4>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault1" value="todos" checked>
                                <label class="form-check-label" for="flexRadioDefault1">Todos</label><br>
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault2" value="jovem_aprendiz">
                                <label class="form-check-label" for="flexRadioDefault2">Jovem aprendíz</label><br>
                                <input class="form-check-input" type="radio" name="tipo" id="flexRadioDefault3" value="estagio">
                                <label class="form-check-label" for="flexRadioDefault3">Estágio</label><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Localização:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="cidade">
                                <option value="todas" selected>Todas</option>
                                <option value="GR">Gravataí - RS</option>
                                <option value="POA">Porto Alegre - RS</option>
                                <option value="CX">Cachoeirinha - RS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Salário:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="salario">
                                <option value="todos" selected>Todos</option>
                                <option value=">1000">até R$ 1.000</option>
                                <option value=">2000">até R$ 2.000</option>
                                <option value=">3000">até R$ 1.000.000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="localizacao">Turno:</label><br>
                            <select select class="form-control" id="exampleFormControlSelect1" name="turno">
                                <option value="todos" selected>Todos</option>
                                <option value="manha">Manhã</option>
                                <option value="tarde">Tarde</option>
                                <option value="integral">Integral</option>
                            </select>
                        </div><br>
                        <p align="center"><button type="submit" class="btn-lg btn-outline-dark">⠀⠀⠀⠀Filtrar⠀⠀⠀⠀</button></p>
                    </form>
                </div>
            </div>
            <div class="col-4" id="vagas">
                <div class="container">
                    <% vagas.forEach(function(vaga) { %>
                        <div class="card mt-2" style="width: 100%; height: 12rem;" id="card" onclick="selecionar()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <img src="/img/anunciante.jpg" class="rounded-circle" alt="perfil" style="width: 40px; height: 40px; padding-top: 2%;">
                                    </div>
                                    <div class="col"><h3 class="card-title"><%= vaga.titulo %></h3></div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Nome anunciante / <%= vaga.localizacao %></h6>
                                <p class="card-text"><%= vaga.descricao %></p>
                                <p align="right"><a href="/vagas/<%= vaga.id_vaga %>"><button type="submit" class="btn btn-primary">detalhar</button></a></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-5">
                <div class="container">
                    <div class="card" id="detalhamento">
                        <div class="card-body">
                            <% if(teste != 0){ %>
                            <h2><p align="center"><%= detalhamento.titulo %></p></h2><br>
                            <div class="row">
                                <div class="col">
                                    <p class="detalhamento-p">Salario: <%= detalhamento.salario %></p>
                                    <p class="detalhamento-p">carga horaria: <%= detalhamento.carga_horaria %></p>
                                    <p class="detalhamento-p">horario de trabalho: Manhã</p>
                                    <p class="detalhamento-p">Localização: Porto Alegre - RS</p><br>
                                </div>
                                <div class="col">
                                    <p align="center">
                                        <buttonbutton type="button" class="btn-lg btn-info" data-toggle="modal" data-target="#exampleModalCenter">Candidatar-se</button>

                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle"><h2>TITULO VAGA</h2></h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>envie seu curriculo</h4><br>
                                                  <input class="form-group" type="file" name="curriculo" id="">t
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                                                  <button type="button" class="btn btn-success">Enviar candidatura</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </p>
                                    
                                    <h6 class="card-subtitle mb-2 text-muted"><p align="center">Candidaturas - 29</p></h6>
                                </div>
                            </div>

                            <h4>Requisitos e qualificações</h4>
                            <ul>
                                <li>
                                    burro
                                </li>
                                <li>
                                    banana
                                </li>
                                <li>
                                    batata
                                </li>
                            </ul><br>

                            <h4>Descricação da vaga:</h4>
                            <p class="detalhamento-p">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illum nemo laudantium sed, culpa eveniet asperiores. Ab
                                excepturi aspernatur numquam maxime ut ad fugiat natus exercitationem voluptates! Alias, blanditiis dolore.
                            </p>
                            <% } else {%>
                                <h5>SELECIONE UMA VAGA</h5>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <%- include('footer'); %>
</body>

</html>